* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid black;
    font-size: 50px;
    text-align: center;
    background-color: green;
}

/*
                       ПРАВИЛА:
- flex - родителю враперу - контейнеру пишем - И дочкам по умолчанию задается свойство flex-direction: row
после того как родителю написали flex все box были блочные на всю ширину - теперь они флекс на шиирину контейнера себя..
- строки и колонки...
- habr - шпаргалка по флексбоксу см
- 2 оси главная и поперечная - горизонтальная (justify-content) и вертикальная (align-items) - оси могут меняться др другом:
- flex-direction: row-reverse -- поменяются местами
- align-items: stretch; - элементы тянуться по всеи высоте
- flex-wrap: wrap; перенос
- order -- свойство работает с дочками -1 ставим и переместится в начало элемент с любого места
 */