* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1200px;
}

.title {
    text-align: center;
    color: #4f1818;
}

.title-1 {
    color: #38c038;
}

.text-1 {
    font-size: 20px;
    background-color: darkgrey;
    margin-top: 10px;

}

.text-2 {
    font-size: 18px;
    background-color: darkgrey;
}

.text-3 {
    font-style: italic;
}

.text-4 {
    text-align: right;
    font-size: 14px;
    color: red;
}






















